body{
    margin: 0;
    color: #314A54;
    text-align: center;
    font-family: 'Merriweather', serif;
    font-size: 1.2em;
}

/* *{
    margin: 0;
    padding: 0;
} */

h1{
    width: 50%;
    margin: 50px auto 0 auto;  
    font-family: 'Sacramento', cursive;
    font-size: 5.625rem;
    color:  #4563BF;
}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #4563BF;
    font-weight: normal;
}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #5670BF;
}

a{
    color:  #1F4242;
}

.top-container{
    /* background-color: #F3C3FA; */
    background-color: #D5EAF2;
   position: relative;
   padding-top: 100px;
}

.middle-container{
    /* background-color: #379AC2; */
    padding: 30px;
}

.bottom-container{
   background-color: #9fe3ff;
   margin-bottom: -21px;
   padding: 30px;
}

.bottom-cloud{
    position: absolute;
    right: 7px;
    bottom: 300px;
    animation: clouds 30s infinite;
}

.top-cloud{
    position: absolute;
    right: 7px;
    top: 50px;
    animation: clouds 20s infinite;
}

@keyframes clouds {
    from{
        transform: translateX(-195vw);
    }
    to{
        transform: translateX(1vw);
    }
}

.border-img{
    border-radius: 100%;
}

.skill-row{
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.coding-img{
    float: left;
    margin-right: 25px;
    width: 150px;
}

.web-img{
    float: right;
    width: 200px;
    /* margin-left: 25px; */
}

.bottom-container a{
    margin: 5px 50px;
    color: #11999E;
}

.btn {
    background: #11cdd4;
    background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
    background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
    background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
    background-image: -o-linear-gradient(top, #11cdd4, #11999e);
    background-image: linear-gradient(to bottom, #11cdd4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }

  .footer-link{
    color: #11cdd4;
    color: -webkit-linear-gradient(top, #11cdd4, #11999e);
    color: -moz-linear-gradient(top, #11cdd4, #11999e);
    color: -ms-linear-gradient(top, #11cdd4, #11999e);
    color: -o-linear-gradient(top, #11cdd4, #11999e);
    color: linear-gradient(to bottom, #11cdd4, #11999e);
  }

  .footer-link:hover{
    color: #30e3cb;
    color: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    color: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    color: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    color: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    color: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  }

  span{
      text-decoration: underline;
  }

  a{
      text-decoration: none;
  }

  .bottom-container p{
      color: #EAF6F6;
  }

  .top-container h1{
      transition: 1.6s ease-in-out;
  }

  .top-container h1:hover{
      transform: rotate(360deg);
  }

  @media only screen and (max-width: 480px) {
      .mountain{
          width: 180px;
      }
      h1{
          font-size: 4.6rem;
      }
      h2{
          font-size: 1.9rem;
      }
      .skill-row{
        width: 80%;
        text-align: center;
        margin: 60px auto;
    }
    .coding-img{
        float: none;
        margin: 0 3.5rem;
    }
    
    .web-img{
       float: none;
       margin: 0 1.5rem;
    }

    .skills{
        text-align: center;
    }

    .bottom-container a{
        margin: 5px 5px;
        color: #11999E;
        font-size: 15px;
    }
  }
